/* scroller */
.main-view {
  height: 100%;
  overflow: hidden;
}

.hero {
  max-height: 15vh;
}

.tabs {
  max-height: 5vh;
}

.time-count {
  font-size: small;
}

.columns {
  position: relative;
  max-height: 80vh;
  overflow: hidden;
  margin-right: 3px;
}

.scrollable {
  overflow-y: auto;
}
/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.card {
  border: 3px double black;
  margin: 2px;
}

.card-content {
  border: 1px dotted red;
}

/* hovering */
#latest {
  background-color: rgb(197, 78, 23);
}

.cat-content {
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding-left: 1px;
  font-size: medium; */
}

.topic-content {
  overflow: hidden;
  text-overflow: ellipsis;
  /* border-radius: 5px;
  margin-left: 1px;
  padding-left: 2px; */
}

#latest:hover,
.cat-content:hover,
.topic-content:hover {
  background-color: aquamarine;
}
