/* scroller */
.main-view {
  height: 100vh;
  overflow: hidden;
}

.navbar {
  background-color: aliceblue;
  border-bottom-style: groove;
  border-color: blue;
  position: relative;
  max-height: 25vh;
}

.stats {
  background-color: aliceblue;
  max-height: 75%;
  font-size: x-small;
}

.art-card-header {
  font-size: x-small;
}

.time-count {
  font-size: small;
}

.dropdown-content {
  background-color: rgb(69, 89, 145);
}

.columns {
  max-height: 88vh;
  overflow: hidden;
  margin-right: 3px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.scrollable {
  overflow-y: auto;
  margin-left: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.card {
  border: 3px double black;
  margin: 2px;
}

.card-content {
  border: 1px dotted red;
}

/* hovering */
#latest {
  background-color: rgb(197, 78, 23);
}

.cat-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

#recent-content {
  background-color: aliceblue;
}

.topic-content {
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: bisque;
}

.topic-ctr {
  background-color: blanchedalmond;
}

.art-content {
  background-color: blanchedalmond;
}

#latest:hover,
.cat-content:hover,
.topic-content:hover {
  background-color: aquamarine;
}

#authview {
  background-color: brown;
  color: white;
}

.hero-body {
  background-color: rgb(63, 135, 184);
}

#cnt {
  font-size: smaller;
}

/* animate burger menu */
/* https://github.com/jgthms/bulma/issues/1790 */
.navbar-menu {
  display: block;
  opacity: 0;

  position: absolute; /* or float: left; width: 100%;*/
  left: 0;
  right: 0;

  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
  pointer-events: none;
}

.navbar-menu.is-active {
  opacity: 1;
  transform: none;
  pointer-events: auto;
}
